/* pages/user/message/message.wxss */

page {
  background: #f8f8f8;
}

.mes_main {
  margin-top: 20rpx;
}

.mes_m1 {
  height: 80rpx;
  background: #fff;
  padding: 30rpx;
  border-bottom: 1px solid #e6e6e6;
}

.mes_m2 {
  width: 550rpx;
  height: 80rpx;
}

.mes_m4 image {
  width: 80rpx;
  height: 80rpx;
  border-radius: 6px;
}

.mes_m4 {
  position: relative;
  width: 80rpx;
  height: 80rpx;
}

.mes_m4 text {
  display: inline-block;
  position: absolute;
  right: -9rpx;
  top: -9rpx;
  width: 18rpx;
  height: 18rpx;
  background-color: #cc1414;
  border: solid 2px #f8f8f8;
  border-radius: 50%;
}

.mes_m5 {
  margin-left: 30rpx;
  width: 440rpx;
  position: relative;
}

.mes_m51 {
  font-size: 32rpx;
  color: #292c31;
  line-height: 50rpx;
}

.mes_m52 {
  font-size: 28rpx;
  color: #999;
  line-height: 30rpx;
}

.mes_m3 {
  font-size: 24rpx;
  color: #999;
}
