page {
  background-color: #f8f8f8;
}

.detail_address {
  height: 200rpx;
  align-items: flex-start;
}

.detail_address textarea {
  height: 130rpx;
  width: 80%;
  margin-top: 30rpx;
  display: flex;
  line-height: 30rpx;
}

.deleAdd {
  border-bottom: none;
  color: #cc1414;
}
.rigonPic{
  flex:2
}