<!--pages/user/myf0llow/myf0llow.wxml-->
<view class='outof_main' wx:if='{{list}}'>
  <view class='top_menu'>
    <view bindtap='deleOp'>
      <view class='top_menu_item' wx:if='{{!isEdit}}'>编辑</view>
      <view class='top_menu_item done' wx:else>完成</view>
    </view>
  </view>
  <view class='cart_item'>
    <view class='cart_item_goods disrow' wx:for="{{list}}" wx:key='key'>
      <checkbox wx:if='{{isEdit}}' value='all' id='{{index}}' bindtap='checkState' />
      <view class='cart_item_img' bindtap="openPart" data-id="{{item.field_id}}">
        <image src='{{item.thumb_image}}' mode='widthFix'></image>
      </view>
      <view class='cart_item_info' bindtap="goodsdetail" data-id="{{item.field_id}}" data-op="{{item.type}}" data-field_id="{{item.field_id}}">
        <view class='cart_item_title'>{{item.goods_name}}</view>
        <view class='cart_item_type disrow'>
          <view class='cart_item_type1' wx:for="{{item.product}}" wx:for-item="product" wx:key='key'>{{product}}</view>
        </view>
        <view class='cart_item_price'>￥{{item.real_price}}
          <text>￥{{item.origin_price}}</text>
        </view>
      </view>

    </view>


    <view class='group_b' wx:if='{{isEdit}}'>
      <view class='group_b2' bindtap='del'>删除</view>
    </view>
  </view>
</view>

<!-- 没有数据显示下面 -->
<view class='sales_m2 tc' wx:if='{{nodata}}'>
  <image src='{{imgurl}}common_null2@2x.png'></image>
  <view class='sales_m2_1'>还没有心仪的商品哦～</view>
</view>