<template name='evaluate'>
  <view class='evaluate_box'>
    <view class='user_info' wx:if='{{is_anonymous == 0}}'>
        <view class='user_mian_info'>
        <view class='user_avatar'>
        <image src='{{user.avatar}}' mode='widthFix'></image>
      </view>
      {{user.nickname}}

     </view>
      <view class='star_box'>
      <block wx:for='{{starNum}}' wx:key='key'>
        <view class='star' >
          <image src='{{imgurl}}start_set.png' mode='widthFix' wx:if='{{index < star}}'></image>
          <image src='{{imgurl}}start_nor.png' mode='widthFix' wx:else></image>
        </view>
        </block>
      </view>
    </view>
    <view class='user_info' wx:else>
      <view class='user_avatar'>
        <image src='{{imgurl}}com_img_default.png' mode='widthFix'></image>
      </view>
      匿名评价
    </view>
    <view class='evaluate_text'>{{content}}</view>

    <view class='evaluate_img'>
      <view wx:for='{{images}}' wx:key='key'>
        <image src='{{item}}' mode='widthFix'></image>
      </view>
    </view>
    <view class='evaluate_date'>{{create_date}} | {{product}}</view>
  </view>
</template>