.evaluate_box{
  width: 92%;
  padding: 0 4%;
}

.user_info{
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  font-size: 26rpx;
  color: #666;
 justify-content: space-between
}
.user_mian_info{
  display: flex;align-items: center;
  overflow: hidden
}
.user_avatar{
  width: 70rpx;
  height: 70rpx;
  border-radius: 70rpx;
  margin-right: 20rpx;
  overflow: hidden;
 
}
.user_avatar image{
  width: 100%;
  height: auto
}
.star_box{
  display: flex;
  align-items: center
}
.star{
  width: 36rpx;
  margin-left: 10rpx;
}
.star image{
  width: 100%;
  height: auto
}
.evaluate_text{
  color: #222;
  font-size: 26rpx;
  margin-bottom: 20rpx;
}
.evaluate_img{
  width: 100%;
  overflow: hidden
}
.evaluate_img view{
  height: 160rpx;
  width: 160rpx;
  float: left;
  margin-right: 10rpx;
  margin-bottom: 10rpx;
}
.evaluate_img view image{
  width: 100%;
  height: auto
}
.evaluate_date{
  color: #666;
  font-size: 26rpx;
  line-height: 50rpx;
  border-bottom: solid 1rpx #f3f8f7;
  
}
