<import src="../../template/evaluate/evaluate.wxml" />
<import src="../../utils/wxParse/wxParse.wxml" />
<view class='top_tab_box {{showTab?"boxshow":""}}'>
  <!-- <view class='top_tab_box boxshow'> -->
  <view class="top_tap">
    <view class='top_tap_item {{currentTab==item.id?"on":""}}' wx:for="{{tabs}}" data-id='{{item.id}}' wx:key="idx" bindtap='tabChange'>{{item.title}}
      <view class='line'></view>
    </view>
  </view>
</view>
<view class='scroll_container'>
  <scroll-view class='scroll_box {{popUp?"fixed":""}}' scroll-with-animation='true' scroll-into-view="{{currentTab}}" scroll-y bindscroll='showTab'>

    <view class='swiper-container' id='v1'>
      <swiper circular duration="300" bindchange='showId'>
        <!-- 视频蒙板 -->
        <swiper-item wx:if='{{goods.video}}'>
          <view class="swiper-item ">
            <image src='{{goods.photo_images[0]}}' mode='widthFix'></image>
            <view class='play_btn' bindtap='playVideo'>
              <image src='{{imgurl}}play.png' mode='widthFix'></image>
            </view>
          </view>
        </swiper-item>
        <!-- 商品图片 -->
        <block wx:for="{{goods.photo_images}}" wx:key="*this">
          <swiper-item>
            <view class="swiper-item " bindtap='previewImage'>
              <image src='{{item}}' mode='widthFix'></image>
            </view>
          </swiper-item>
        </block>
        <view class></view>
      </swiper>

      <view class='video_con' wx:if='{{playVideo}}'>
        <video src='{{goods.video}}' enable-progress-gesture='false' autoplay bindended='playVideo' show-center-play-btn='false'></video>
        <view class='stopPlay' bindtap='playVideo'>退出播放</view>
      </view>

      <view class='pic_index'>{{pic_index}}/{{imgsNum}}
      </view>
    </view>

    <view class='goods_info'>
      <view class='price disrow'>
        <view>￥{{goods.collage_price}}</view>
        <view class='old_price'>￥{{goods.origin_price}}</view>
        <view class='coll_te1' wx:if='{{goods.commission != 0}}'>赚￥{{goods.commission}}</view>
      </view>
      <view class='goods_title jusbetween'>
        <view class='goods_tit'>{{goods.name}}</view>
        <button class='share' bindtap='share'> </button>
        <!-- <image src='../../images/Details_icon_share.png'></image> -->
      </view>
      <view class='goods_desc'>{{goods.intro}}</view>
    </view>

    <!-- 有规格显示出来 -->
    <!-- <view class='goods_info selected_type goods_title more' bindtap='buyOp' data-op='0'>
    <view class='subtitle'>已选</view>{{selectSpec}}</view>-->
    <!-- <view class='ping' wx:if='{{self_group_list.length !=0}}'> -->
    <view class='ping' wx:if="{{is_collage_leader > 0}}">
      <view class='menu_title2 goods_info more'>我的开团
        <view class='disrow'>
          <view url='' class='ping_a1 mar_right' bindtap='startgroup'>发起开团</view>
        </view>
      </view>
      <view class='menu_con'>
        <block wx:for='{{self_group_list}}' wx:key='key'>
          <view class='menu_con1 disrow container'>
            <view class='menu_con2 disrow'>
              <view class='menu_con_img1'>
                <!-- <image src='{{subitem}}' mode='widthFix'></image> -->
                <open-data type="userAvatarUrl"></open-data>
              </view>
              <view class='menu_con_img1'>
                <image src='{{imgurl}}com_img_default.png' mode='widthFix'></image>
              </view>
              <view class='menu_con_img2'>
                <open-data type="userNickName" lang="zh_CN"></open-data>
              </view>
            </view>
            <view class='menu_con3 disrow'>
              <view class='menu_con31'>
                <view class='menu_con31_1'>还差
                  <text>{{item.diff_num}}人</text> 拼成</view>
                <view class='menu_con31_2'>剩余{{item.timer}}</view>
              </view>
              <navigator url='./mycollage/mycollage?group_id={{item.id}}' class='menu_con32'>查看</navigator>
            </view>
          </view>
        </block>
      </view>
    </view>

    <view class='ping'>
      <view class='menu_title2 container' wx:if="{{normal_group_list.length}}">{{normal_group_list.length}}人正在拼团，可直接参与
        <view class='disrow more'>
          <view class='ping_a1 ping_a2' bindtap='chooseAct'>查看全部</view>

        </view>
      </view>
      <view class='menu_con menu_con_small'>
        <block wx:for='{{normal_group_list}}' wx:key='key'>
          <view class='menu_con1 disrow container'>
            <view class='menu_con2 disrow'>
              <view class='menu_con_img1'>
                <image src='{{item.head_user.avatar}}' mode='widthFix'></image>
              </view>
              <view class='menu_con_img1'>
                <image src='{{imgurl}}com_img_default.png' mode='widthFix'></image>
              </view>
              <view class='menu_con_img2'>{{item.head_user.nickname}}</view>
            </view>
            <view class='menu_con3 disrow'>
              <view class='menu_con31'>
                <view class='menu_con31_1'>还差
                  <text>{{item.diff_num}}人</text> 拼成</view>
                <view class='menu_con31_2'>剩余{{item.timer}}</view>
              </view>
              <view class='menu_con33' bindtap='goping' id='{{item.group_id}}'>去拼团</view>
            </view>
          </view>
        </block>
      </view>
      <view class='menu_wei more' wx:if="{{is_collage_leader < 1}}">
        <view class='disrow menu_wei1'>
          <navigator url='/pages/user/go_grouphead/go_grouphead' class='ping_a2'>升级团长，开团“赚”利润</navigator>
        </view>
      </view>
    </view>



    <!-- <view class='menu_title goods_info' id='v2'>评价
      <view>
        <text wx:if="{{goods.comments_sum > 0}}">共{{goods.comments_sum}}条评论</text>
        <text wx:else>暂无评价</text>
      </view>
    </view>

    <block wx:for='{{goods.comments}}' wx:key='key'>
      <template is='evaluate' data='{{...item, ...{imgurl:imgurl,starNum:5} }}' />
    </block> -->


    <navigator class='get_more' wx:if="{{goods.comments_sum > 2}}" url='../evaluate_list/evaluate_list?id={{goods.id}}'>查看全部</navigator>
    <view class='menu_title goods_info' id='v3' bindtap='toTop'>产品详情 </view>

    <view class='goods_detail container texCenter'>
      <view class='desText'>
        <template is="wxParse" data="{{wxParseData:content.nodes}}" />
      </view>
    </view>
  </scroll-view>
</view>
<view class='bottom_submit'>
  <view class='opretions_group'>
    <navigator url='/pages/cart/cart' open-type='switchTab' class='opretions_item'>
      <image src='{{imgurl}}tab_cart_goods.png'></image>购物车</navigator>
    <view class='opretions_item' bindtap='callService'>
      <image src='{{imgurl}}details_icon_cus.png'></image>客服</view>
    <view class='opretions_item' bindtap='collect'>
      <image src='{{imgurl}}details_icon_col_sel.png' wx:if='{{collect}}'></image>
      <image src='{{imgurl}}details_icon_col_nor.png' wx:else></image>
      收藏</view>
  </view>
  <view class='bottom_submit_btn' bindtap='buyOp' data-op='0'>
    <view>￥{{goods.real_price}}</view>单人购买</view>
  <view class='bottom_submit_btn' bindtap='buyOp' data-op='1'>
    <view>￥{{goods.collage_price}}</view>发起拼单</view>
</view>

<view class='goods_select {{showConfirm? "upPop": ""}}'>
  <view class='close_btn' bindtap='closeConfirm'>
  </view>
  <view class='goods_select_content container'>
    <view class='goods_selDetail'>
      <view class='goods_thumb'>
        <image src='{{selectImg}}' mode='widthFix' wx:if='{{mulType}}'></image>
        <image src='{{goods.photo_images[0]}}' mode='widthFix' wx:else></image>
      </view>
      <view class='goods_selected'>
        <view wx:if='{{mulType}}' class='sel_price'> 价格：￥{{selectPrice}}</view>
        <view wx:if='{{!mulType && buyType == 0}}' class='sel_price'> 价格：￥{{goods.real_price}}</view>
        <view wx:if='{{!mulType && buyType == 1}}' class='sel_price'> 价格：￥{{goods.collage_price}}</view>
        <view wx:if='{{mulType}}'> 已选择：{{selectSpec}}</view>
      </view>
    </view>

    <block wx:for='{{spec}}' wx:key='key'>
      <view class='goods_type_title'>{{item.key}}</view>
      <view class='type_box'>
        <view wx:for='{{item.value}}' wx:key='key' wx:for-item='subitem' class='{{item.checked==idx? "selected": ""}}' bindtap='select_spec' data-idx='{{idx}}' data-Fidx='{{index}}' wx:for-index='idx'>{{subitem}}</view>
      </view>
    </block>
    <view class='goods_type_title'>数量</view>
    <view class='numChange'>
      <view class='num_btn' data-op='-1' bindtap='changeNum'>-</view>
      <view class='num_value'>{{num}}</view>
      <view class='num_btn' data-op='1' bindtap='changeNum'>+</view>
    </view>
  </view>
  <view class='submit_btn' bindtap='submit'>确定</view>
</view>

<view class='goods_select {{showAcitivity? "upPop": ""}}'>
  <view class='close_btn' bindtap='closeConfirm'>
  </view>
  <view class='goods_select_content normal_group_list'>
    <view class='poptit'>{{normal_group_list.length}}人正在拼团，可直接参与</view>
    <scroll-view scroll-y style="height: 700rpx;" class='menu_con'>
      <block wx:for='{{normal_group_list}}' wx:key='key'>
        <view class='menu_con1_b disrow container'>
          <view class='menu_con2 disrow'>
            <view class='menu_con_img1'>
              <image src='{{item.head_user.avatar}}' mode='widthFix'></image>
            </view>
            <view class='menu_con_img1'>
              <image src='{{imgurl}}com_img_default.png' mode='widthFix'></image>
            </view>
            <view class='menu_con_img2'>{{item.head_user.nickname}}</view>
          </view>
          <view class='menu_con3 disrow'>
            <view class='menu_con31'>
              <view class='menu_con31_1'>还差
                <text>{{item.diff_num}}人</text> 拼成</view>
              <view class='menu_con31_2'>剩余{{item.timer}}</view>
            </view>
            <view class='menu_con33' bindtap='goping' id='{{item.group_id}}'>去拼团</view>
          </view>
        </view>
      </block>
    </scroll-view>
  </view>
  <view class='submit_btn' bindtap='closeConfirm'>确定</view>
</view>

<view class='popmask' wx:if='{{popmask}}'></view>

<view class='write_box' wx:if='{{startPing}}'>
  <image src='{{imgurl}}details_btn_back.png' mode='widthFix' class='close_btn' bindtap='closeConfirm'></image>

  <view class='write_box_title'>发起5人团，自己是否参团</view>


  <view class='write_box_btn'>
    <button class='ping_op' bindtap='myjoin' data-op='1'>参与</button>
    <button class='ping_op' bindtap='inviteFri'>邀请好友</button>
  </view>

</view>



<view class='goods_select sharewrap {{isShare?"upPop":""}}'>
  <view class='close_btn' bindtap='closeConfirm'>
  </view>
  <view class='goods_select_content'>
    <view class='popTitle'>分享</view>

    <view class='share_box'>
      <image src='{{imgurl}}shareicon1.png' mode='widthFix'></image>
      分享给好友
      <button class='share_button' open-type='share'></button>
    </view>
    <view class='share_box'>
      <image src='{{imgurl}}shareicon2.png' mode='widthFix'></image>
      保存到相册
      <button class='share_button' bindtap='friendCicle'></button>
    </view>

  </view>

</view>

<view class='goods_select sharewrap friendship {{friendship?"upPop":""}}'>
  <view class='close_btn' bindtap='closeConfirm'>
  </view>
  <view class='goods_select_content'>
    <view class='popTitle'>保存图片到相册</view>
    <view class='canvasimg_box'>
      <image src='{{canvaspath}}' class='canvasimg' mode='widthFix'></image>
    </view>
  </view>
  <view class='submit_btn' bindtap='saveImg'>保存到相册</view>
</view>
<view class='can_con'>
  <canvas canvas-id="myCanvas" class='myCanvas' style="width: 350px; height: 500px;"></canvas>
</view>