<import src="../../template/goods/goods.wxml" />

<view class='container topmenu'>
   <scroll-view scroll-x>
    <view class="top_tap">
      <view class='top_tap_item {{currentTab==index?"on":""}}' wx:for="{{category}}" id='{{item.id}}' wx:key="id" bindtap='tabChange' data-idx='{{index}}'>{{item.name}}
        <view class='line'></view>
      </view>
    </view>
  </scroll-view> 
</view>

<scroll-view>
  <view class='goods_wrap'>
  <view class='goods_list'>
    <navigator url='/pages/goods_detail/goods_detail?id={{item.id}}' class='goods_list_item' wx:for='{{goods}}' wx:key='{{index}}'>
      <view class='goods_item_img'>
        <image src='{{item.thumb_image}}'></image>
      </view>
      <view class='goods_item_tit'>{{item.name}}</view>
      <view class='goods_item_info'>
        <view class='goods_item_price'>
          ￥{{item.real_price}}<text>￥{{item.origin_price}}</text>
        </view>
        <view class='goods_item_btn'>购买</view>
      </view>
    </navigator>
  </view>
</view>
</scroll-view>

<view class='toTop'  catchtap='backTop' wx:if="{{backTopValue ==true}}">
  <image src='../../images/top.png'></image>
</view>

<view wx:if='{{nodata}}' class='nodata'>
  <image src='{{imgurl}}common_null1.png' mode='widthFix'></image>
  此分类没有商品哦。。。
</view>

<import src="../../auth/auth.wxml" />
<template is="auth" data="{{ismask}}"></template>