<view class='container topView'>
  <view class="log_goods">

    <view class='log_goods_img'>
      <image src='{{deliveryInfo.goods_img}}' mode='widthFix'></image>
    </view>
    <view class='log_goods_info'>
      <view class='log_goods_numb'>订单编号：
        <text>{{deliveryInfo.delivery_no}}</text>
      </view>
      <view class='log_goods_numb'>承运公司：{{deliveryInfo.delivery_company_name}}</view>
    </view>
  </view>

</view>
<view class='delivery_msg' wx:if="{{deliveryInfo.delivery.status==0}}">{{deliveryInfo.delivery.msg}}</view>
<view class='container' wx:else>
  <view class='log_info' wx:for="{{deliveryInfo.delivery}}" wx:key='key'>
    <view class='log_state'>

      <view class='log_state_cicle_big' wx:if="{{index==0}}">
        <view class='log_state_cicle_nomal'></view>
      </view>
      <view class='log_state_cicle_small' wx:else></view>

      <view class='log_state_line'></view>
    </view>
    <view class='log_text'>
      <view class='log_title'>
        {{item.context}}
      </view>
      <view class='log_date'>{{item.time}}</view>
    </view>
  </view>

</view>