<view class='top_border'>
  <block wx:for='{{addList}}' wx:key='key'>
    <view class='address bottom_border'>
      <view class='address_text' id='{{item.id}}' bindtap='selectAdd'>
        <view class='font_bold main_info'>
          <view class='defAdd' wx:if='{{item.is_default == 1}}'>默认</view> {{item.name}} {{item.phone}}</view>
        {{item.province_text}}{{item.city_text}}{{item.area_text}} {{item.address}}
      </view>
      <navigator url='new_address/new_address?id={{item.id}}'>
        <image class='address_icon' mode='widthFix' src='{{imgurl}}edit.png'></image>
      </navigator>
    </view>
  </block>
</view>

<button class='big_btn fix_bottom' bindtap='add_address'>新建地址</button>