<import src="../../template/goods/goods.wxml" />

<view class='goods_wrap'>
  <view class='goods_box'>
    <block  wx:for='{{goods}}' wx:key="key">
    <template is="goods" data="{{...item, ...{animationData:animationData, showPic:showPic} }}" />
    </block>
  </view>
</view>