<!--pages/user/myrecord/myrecord.wxml-->
<view class='outof_main' wx:if='{{list}}'>
  <view class='top_menu'>
    <view class='disrow'>
      <view class='top_menu_1' bindtap='clear'>清空</view>
      <view bindtap='deleOp' class='disrow'>
        <view class='top_menu_item' wx:if='{{!isEdit}}'>编辑</view>
        <view class='top_menu_item done' wx:else>完成</view>
      </view>
    </view>
  </view>
  <view class='cart_item'>
    <!-- <view class='record_time'>今天</view> -->
    <view class='cart_item_goods disrow' wx:for="{{list}}" wx:key='key'>
      <checkbox wx:if='{{isEdit}}' checked='{{item.checked}}' value='all'  id='{{index}}' bindtap='checkState' />
      <view class='cart_item_img'>
        <image src='{{item.thumb_image}}' mode='widthFix'></image>
      </view>
      <view class='cart_item_info' bindtap="goodsDetail" data-id="{{item.goods_id}}">
        <view class='cart_item_title'>{{item.name}}</view>
        <view class='cart_item_type disrow'>
          <view class='cart_item_type1' wx:for="{{item.product}}" wx:for-item="product" wx:key='key'>{{product}}</view>
        </view>
        <view class='cart_item_price'>￥{{item.real_price}}
          <text>￥{{item.origin_price}}</text>
        </view>
      </view>
    </view>


    <view class='group_b disrow disju-sb' wx:if='{{isEdit}}'>
      <label>
        <checkbox value='all' checked="{{selsectAll}}" bindtap='selAll' />全选</label>
      <view class='group_b2' bindtap='del'>删除</view>
    </view>
  </view>
</view>

<!-- 没有数据显示下面 -->
<view class='sales_m2 tc' wx:if='{{nodata}}'>
  <image src='{{imgurl}}common_null2@2x.png'></image>
  <view class='sales_m2_1'>还没有浏览记录～</view>
</view>