/* pages/user/myrecord/myrecord.wxss */

page {
    background: #f8f8f8;
}

.top_menu {
    width: 92%;
    padding: 0 4%;
    height: 80rpx;
    line-height: 80rpx;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

.tips {
    font-size: 28rpx;
    color: #999;
}

.top_menu_item {
    font-size: 28rpx;
    color: #333;
}

.cart_item {
    width: 100%;
    padding-top: 80rpx;
    padding-bottom: 110rpx;
}

.cart_item_goods {
    background: #fff;
    border-bottom: 1px solid #eeeaea;
    width: 690rpx;
    padding: 20rpx 30rpx;
    justify-content: flex-start;
    align-items: center;
}

.cart_item_img {
    width: 150rpx;
    height: 150rpx;
   
}

.cart_item_img image {
    width: 150rpx;
    height: auto;
}

.cart_item_info {
    width: 450rpx;
    height: 150rpx;
    margin-left: 20rpx;
}

.cart_item_title {
    font-size: 28rpx;
    height: 40rpx;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    color: rgba(34, 34, 34, 1);
}

.cart_item_type {
    width: 100%;
    height: 80rpx;
    overflow: hidden;
}

.cart_item_type1 {
    justify-content: flex-start;
    height: 30rpx;
    background: rgba(246, 245, 245, 1);
    line-height: 30rpx;
    font-size: 24rpx;
    margin-right: 10rpx;
    margin-bottom: 10rpx;
    padding: 0 5rpx;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.cart_item_price {
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(42, 53, 58, 1);
}

.cart_item_price text {
    font-size: 24rpx;
    font-weight: 500;
    text-decoration: line-through;
    color: rgba(199, 201, 202, 1);
    margin-left: 10rpx;
}

.group_b {
    width: 690rpx;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20rpx 30rpx;
    text-align: center;
    background: #fff;
    font-size:30rpx;
font-weight:500;
color:rgba(102,102,102,1);
}
.group_b label{align-content: center;line-height: 60rpx;}


.group_b1 {
    font-size: 30rpx;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 60rpx;
}

.group_b2 {
    width:150rpx;
height:64rpx;
line-height: 64rpx;
text-align: center;
border:1px solid rgba(153,153,153,1);
border-radius:6px;
font-size:26rpx;
font-weight:400;
color:rgba(34,34,34,1);
}

.sales_m2 image {
    width: 405rpx;
    height: 438rpx;
    margin-top: 220rpx;
}

.sales_m2_1 {
    font-size: 28rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 40rpx;
    letter-spacing: 0px;
    color: #9b9b9b;
    margin: 40rpx 0;
}

.sales_m2_2 {
    display: inline-block;
    width: 280rpx;
    height: 74rpx;
    line-height: 74rpx;
    border-radius: 6px;
    border: solid 1px #cb0e0e;
    font-size: 30rpx;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #cb0e0e;
}

.top_menu_1 {
    width: 91rpx;
    height: 38rpx;
    margin:20rpx;
    line-height: 38rpx;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 17rpx;
    text-align: center;
    font-size: 26rpx;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.record_time {
    height: 70rpx;
    line-height: 70rpx;
    font-size: 30rpx;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    padding: 0 30rpx;
    background: rgba(248, 248, 248, 1);
}
