/* pages/user/outof_account/outof_account.wxss */

.outof_main {
    border-top: 20rpx solid #f8f8f8;
}

.outof_top {
    padding: 0 30rpx;
    height: 115rpx;
    line-height: 115rpx;
    font-size: 28rpx;
    color: #292c31;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    left: 0;
    top: 0;
    width: 690rpx;
    background: #fff;
}

.outof_top text {
    font-size: 40rpx;
    color: #cb0e0e;
    font-weight: 700;
}

.outof_con {
    padding-top: 105rpx;
}

.outof_con1 {
    padding: 25rpx 30rpx;
    border-bottom: 1px solid #e6e6e6;
}

.outof_con2 {
    width: 480rpx;
    height: 85rpx;
}

.outof_con21 {
    font-size: 28rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 35rpx;
    letter-spacing: 0px;
    color: #292c31;
}

.outof_con22 {
    font-size: 22rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 25rpx;
    letter-spacing: 0px;
    color: #999;
    margin: 10rpx 0
}

.outof_con3 {
    font-size: 30rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 85rpx;
    letter-spacing: 0px;
    color: #292c31;
}

.outof_con3 image {
    width: 11rpx;
    height: 22rpx;
    margin-left: 10rpx;
}

.sales_m2 image {
    width: 405rpx;
    height: 438rpx;
    margin-top: 220rpx;
}

.sales_m2_1 {
    font-size: 28rpx;
    font-weight: normal;
    font-stretch: normal;
    line-height: 40rpx;
    letter-spacing: 0px;
    color: #9b9b9b;
    margin: 40rpx 0;
}

.sales_m2_2 {
    display: inline-block;
    width: 280rpx;
    height: 74rpx;
    line-height: 74rpx;
    border-radius: 6px;
    border: solid 1px #cb0e0e;
    font-size: 30rpx;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #cb0e0e;
}
