<import src="../../../template/goodsitem/goodsitem.wxml" />

<view class='top_tab_box mg_bottom'>
  <view class="top_tap">
    <view class='top_tap_item {{currentTab==item.id?"on":""}}' wx:for="{{tabs}}" data-id='{{item.id}}' wx:key="idx" bindtap='tabChange'>{{item.title}}
      <view class='line'></view>
    </view>
  </view>
</view>

<block wx:for='{{list}}' wx:key='key'>
  <view class=' mg_bottom'>
    <view wx:if='{{currentTab == 1}}'>
      <template is='goodsitem' data='{{chNum:false,num:item.number,thumb_image:item.goods_img,name:item.goods_name,spec_group:item.product,real_price:false}}' />
    </view>
    <navigator class='' url='after_detail/after_detail?id={{item.id}}' wx:else>
      <template is='goodsitem' data='{{chNum:false,num:item.number,thumb_image:item.goods_img,name:item.goods_name,spec_group:item.product,real_price:false}}' />
    </navigator>

    <view class=' opertions container '>

      <view style='align-items:center;display:flex;'>
        <image mode='widthFix' src='{{imgurl}}aftersale_exchange_nor.png' wx:if="{{item.type==1}}" style='width:28px;height:28px;'></image>
        <image mode='widthFix' src='{{imgurl}}aftersale_return_nol.png' wx:if="{{item.type==2}}" style='width:28px;height:28px;'></image>
        <image mode='widthFix' src='{{imgurl}}aftersale_service_nor.png' wx:if="{{item.type==3}}" style='width:28px;height:28px;'></image>
        <text style='color:#666666' decode="{{true}}" wx:if='{{currentTab != 1}}'>{{item.type_text}}申请&nbsp;</text>

        <text style='color:#666666' wx:if="{{item.status==0 || item.status==4}}">{{item.status_text}}</text>
        <text style='color:#CB0E0E' wx:if="{{item.status==1}}">{{item.status_text}}</text>
        <text style='color:#4483EB' wx:if="{{item.status==2}}">{{item.status_text}}</text>
        <text style='color:#28BC83' wx:if="{{item.status==3}}">{{item.status_text}}</text>
      </view>

      <view class='opertions_btn ' wx:if="{{item.status!=0 && item.status!=3 && item.status!=4}}">
        <block wx:if='{{!item.btn}}'>
          <button class='confirm' id='{{item.order_goods_id}}' bindtap='apply' data-op='apply'>
          申请售后</button>
        </block>
        <block wx:else>
          <button class='confirm' id='{{item.id}}' bindtap='apply' wx:for="{{item.btn}}" wx:key='key' wx:for-item="btn" data-op='{{btn.operate}}'>
          {{btn.status_text}}</button>
        </block>
      </view>
    </view>
  </view>

</block>

<view wx:if='{{nodata}}' class='nodata'>
  <image src='{{imgurl}}common_null1.png' mode='widthFix'></image>
  没有相关订单哦。。。
</view>

<view class='mask' wx:if='{{writeNo}}'>
  <view class='write_box'>
    <view class='write_box_title'>填写单号</view>

    <picker bindchange="bindPickerChange" value="{{companyArray[deliver_index].freight_name}}" range="{{companyArray}}" range-key="{{'freight_name'}}" class='delivery_picker'>
      <view class="picker">
        物流公司选择：{{companyArray[deliver_index].freight_name}}
      </view>
    </picker>

    <!-- <input placeholder='填写物流公司'></input> -->
    <input placeholder='填写订单号' type='number' maxlength="20" bindinput="getDeliveryNo"></input>

    <view class='write_box_btn'>
      <view bindtap='cancelWriteNo'>取消</view>
      <view bindtap='submitWriteNo'>确定</view>
    </view>

  </view>

</view>

 <view wx:if='{{noData}}' class='nodata'>

  <image src='{{imgurl}}common_null1.png' mode='widthFix'></image>
  还没有相关订单哦。。。
</view> 
