@import "../../../template/goodsitem/goodsitem.wxss";

page {
  background-color: #f8f8f8;
}

.cart_item_goods {
  padding: 0;
  padding-bottom: 30rpx;
  border-bottom: solid 1rpx #e9e9e9;
}

.goods_con {
  padding: 30rpx 30rpx 0 30rpx;
  background-color: #fff;
}

.goods_wrap .goods_con:last-child .cart_item_goods {
  border-bottom: 0;
}

.message {
  display: flex;
  align-items: center;
  font-size: 26rpx;
  height: 90rpx;
}

.message view {
  flex: 2;
  color: #666;
}

.content_menu {
  border-bottom: none;
  height: 70rpx;
}

.totalprice {
  height: 90rpx;
}

.order_state {
  width: 92%;
  padding: 30rpx 4%;
  text-indent: 80rpx;
  height: 120rpx;
}

.order_state_title {
  color: #fff;
  font-size: 30rpx;
  font-weight: bold;
}

.order_state_des {
  color: #fff;
  font-size: 24rpx;
}

.success {
  background-color: #28bc83;
}

.nopay {
  background-color: #cb0e0e;
}

.onway {
  background-color: #4483eb;
}

.cancle {
  background-color: #737a81;
}

.contact {
  height: 110rpx;
  font-size: 28rpx;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4483eb;
}

.contact image {
  width: 35rpx;
  height: auto;
  margin-right: 20rpx;
}

.opertions {
  height: 110rpx;
  justify-content: flex-end;
}

.opertions_btn button {
  width: 210rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin: 0 10rpx;
  border: solid 1rpx #ccc;
}

.menu_con1 {
  height: 110rpx;
  border-top: solid 1rpx #ececec;
}

.menu_con1_b {
  height: 110rpx;
  border-bottom: solid 1rpx #ececec;
}

.menu_con2 {
  width: 42%;
  height: 70rpx;
  overflow: hidden;
  padding: 20rpx 0 0 30px;
}

.menu_con_img1 {
  width: 70rpx;
  height: 70rpx;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -20rpx;
}

.menu_con_img1 image {
  width: 100%;
  height: auto;
}

.menu_con_img2 {
  font-size: 24rpx;
  color: #666;
  line-height: 70rpx;
  margin-left: 30rpx;
  font-weight: bold
}

.ping_a1 {
  font-size: 24rpx;
  color: #999;
}

.mar_right {
  margin-right: 30rpx;
}

.ping_a2 {
  margin-right: 30rpx;
}

.menu_con3 {
  padding: 30rpx 0;
  width: 50%;
  justify-content: flex-end;
  overflow: hidden;
}

.menu_con31 {
  margin-right: 30rpx;
}

.menu_con31_1 {
  font-size: 24rpx;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30rpx;
  letter-spacing: 0px;
  color: #222;
}

.menu_con31_1 text {
  color: #cb0e0e;
}

.menu_con31_2 {
  font-size: 24rpx;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30rpx;
  letter-spacing: 0px;
  color: #999;
}

.menu_con32 {
  width: 120rpx;
  float: right;
  height: 50rpx;
  border-radius: 25rpx;
  font-size: 24rpx;
  font-weight: normal;
  font-stretch: normal;
  line-height: 50rpx;
  letter-spacing: 0px;
  color: #999;
  border: solid 1px #999;
  text-align: center;
  margin: 0 35rpx 0 20px;
}

.menu_con33 {
  width: 120rpx;
  float: right;
  height: 50rpx;
  border-radius: 25rpx;
  font-size: 24rpx;
  font-weight: normal;
  font-stretch: normal;
  line-height: 50rpx;
  letter-spacing: 0px;
  color: #fff;
  border: solid 1px #cb0e0e;
  background: #cb0e0e;
  text-align: center;
  margin: 0 35rpx 0 20px;
}

.menu_wei {
  padding: 0 30rpx;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 30rpx;
  color: #cb0e0e;
  border-top: solid 1rpx #ececec;
  font-weight: bold;
}

.menu_wei1 {
  justify-content: flex-end;
  padding-right: 30rpx;
}

.menu_wei image {
  width: 32rpx;
  height: 32rpx;
}

.address-box{
  width: 750rpx;
  height: 160rpx;
  position: relative;
  background-color: #fff;
}

.address{
  width: 630rpx;
  height: 110rpx;
  position: absolute;
  box-shadow: 0rpx 9rpx 32rpx 0rpx rgba(86,107,107,0.14);
  bottom: 50rpx;
  left: 30rpx;
  border-radius: 6rpx;
}
