<import src="../../../template/goodsitem/goodsitem.wxml" />
<view class='mg_bottom top_border'>
  <view class='order_state nopay' wx:if='{{orderInfo.order_status == 0}}'>
    <view class='order_state_title'>{{orderInfo.operable.status_text}}</view>
    <view class='order_state_des' wx:if='{{orderInfo.pay_status == 0}}'>请及时付款</view>
  </view>
  <view class='order_state onway' wx:if='{{orderInfo.order_status == 1}}'>
    <view class='order_state_title'>{{orderInfo.operable.status_text}}</view>
    <view class='order_state_des' wx:if='{{orderInfo.delivery_status ==1}}'>宝贝正在路上</view>
  </view>
  <view class='order_state cancle' wx:if='{{orderInfo.order_status == 2}}'>
    <view class='order_state_title'>交易关闭</view>
    <view class='order_state_des'>用户选择取消</view>
  </view>
  <view class='order_state success' wx:if='{{orderInfo.order_status == 3 || orderInfo.order_status == 4}}'>
    <view class='order_state_title'>交易成功</view>
    <view class='order_state_des'>欢迎再次光临</view>
  </view>

  <view wx:if='{{orderInfo.group_member != ""}}'>
    <view class='menu_con1 disrow'>
      <view class='menu_con2 disrow'>
        <view class='menu_con_img1' wx:for='{{orderInfo.group_member}}' wx:key='key'>
          <image src='{{item.avatar}}' mode='widthFix'></image>
        </view>
        <view class='menu_con_img2'>{{orderInfo.group_member.length}}人已成团</view>
      </view>
      <view class='menu_con3 disrow'>
        <view>{{item.pay_time_text}}</view>
      </view>
    </view>

  </view>

  <view class='address-box'>
    <view class='address'>
    <!--將定位的圖片隱藏  -->
      <!-- <image class='address_icon' mode='widthFix' src='{{imgurl}}me_mian_icon5.png'></image> -->
      <view class='address_text'>
        <view class='font_bold main_info'>{{address.full_name}} {{address.phone}}</view>
        {{address.province_text}}{{address.city_text}}{{address.area_text}} {{address.address}}
      </view>
    </view>
  </view>
  
</view>
<view class='mg_bottom'>
  <view class='goods_wrap'>
    <view class='goods_con' wx:for='{{goods}}' wx:key='key'>
      <template is='goodsitem' data='{{name:item.goods_name,thumb_image:item.image,num:item.number,spec_group:item.product_values,real_price:item.price}}' />
    </view>
  </view>
  <view class='message container top_border'>
    留言：
    <view wx:if='{{orderInfo.remark}}'>{{orderInfo.remark}}</view>
    <view wx:else>无</view>
  </view>
</view>

<view class='mg_bottom'>
  <view class='menu_item content_menu'>
    发票
    <view class="normal_value" wx:if='{{orderInfo.invoice_type != 0}}'>{{orderInfo.invoice_info}}</view>
    <view class="normal_value" wx:else>无</view>
  </view>
  <view class='menu_item content_menu'>
    优惠券
    <view class='normal_value'>优惠{{orderInfo.coupon_total}}元</view>
  </view>
</view>

<view class='mg_bottom'>
  <view class='menu_item content_menu'>
    商品数量
    <view class="normal_value">{{orderInfo.goods_number}}件</view>
  </view>
  <view class='menu_item content_menu'>
    商品金额
    <view class='normal_value'>￥{{orderInfo.goods_total}}</view>
  </view>
  <view class='menu_item content_menu'>
    优惠
    <view class='normal_value'>{{orderInfo.discount_total + orderInfo.coupon_total}}</view>
  </view>
  <view class='menu_item content_menu'>
    运费
    <view class='normal_value'>+{{orderInfo.freight}}</view>
  </view>
  <view class='menu_item top_border font_bold content_menu totalprice'>
    合计
    <view>￥{{orderInfo.order_amount}}</view>
  </view>
</view>

<view class='mg_bottom'>
  <view class='menu_item bottom_border font_bold '>
    订单信息
  </view>
  <view class='menu_item '>
    <view class='menu_item_tilte'>订单编号:</view>
    <view class='normal_value'>{{orderInfo.order_no}}</view>
  </view>
  <view class='menu_item ' wx:if='{{orderInfo.trade_no}}'>
    <view class='menu_item_tilte'>交易号:</view>
    <view class='normal_value'>{{orderInfo.trade_no}}</view>
  </view>
  <view class='menu_item '>
    <view class='menu_item_tilte'>创建时间:</view>
    <view class='normal_value'>{{orderInfo.create_time_text}}</view>
  </view>
  <view class='menu_item ' wx:if='{{orderInfo.payment_name}}'>
    <view class='menu_item_tilte'>付款时间:</view>
    <view class='normal_value'>{{orderInfo.pay_time_text}}</view>
  </view>
  <view class='menu_item ' wx:if='{{orderInfo.delete_time}}'>
    <view class='menu_item_tilte'>发货时间:</view>
    <view class='normal_value'>{{orderInfo.delete_time}}</view>
  </view>
</view>

<view class='container top_border contact' bindtap='callService'>
  <image src='{{imgurl}}phone.png' mode='widthFix'></image> 联系客服 {{fmtPhoneNumber}}
</view>
<view class='opertions container top_border'>
  <view class='opertions_btn'>
    <button class='{{item.operate == "pay" ? "paynow":""}}' wx:for='{{orderInfo.operable.btn}}' wx:key='key' data-op='{{item.operate}}' bindtap='orderOp' data-tip='{{item.name}}'>{{item.name}}</button>
  </view>
</view>