<!--pages/user/partner/teamAccount/teamAccount.wxml-->
<view class='team-tp'>
  累计收益：<text>￥{{list.total_profit}}</text>
</view>

<view class='team-list'>
  <view class='team-item'>
    <view class='item-lf'>月份</view>
    <view class='item-cen'>销售额</view>
    <view class='item-rt'>返佣</view>
  </view>
  <view class='team-item' wx:for='{{list.log_list}}' wx:key='{{index}}'>
    <view class='item-lf'>{{item.create_month}}</view>
    <view class='item-cen'>{{item.count_amount}}</view>
    <view class='item-rt'>{{item.count_profit}}</view>
  </view>
</view>

