<import src="../../../template/goodsitem/goodsitem.wxml" />
<import src="../../../template/coupon/coupon.wxml" />

<view class='mg_bottom top_border'>
  <navigator class='address more' url='../../address/address?select=1' wx:if='{{address_id != ""}}'>
    <image class='address_icon' mode='widthFix' src='{{imgurl}}me_mian_icon5.png'></image>
    <view class='address_text'>
      <view class='font_bold main_info'>{{orderInfo.address.name}} {{orderInfo.address.phone}}</view>
      {{orderInfo.address.address}}
    </view>

  </navigator>
  <navigator class='address more' url='../../address/new_address/new_address?fromPay=1' wx:else>
    <image class='address_icon' mode='widthFix' src='{{imgurl}}me_mian_icon5.png'></image>
    <view class='address_text'>
      <view class='font_bold main_info'>请选择收货地址</view>
    </view>
  </navigator>
</view>

<view class='mg_bottom goods_wrap'>
  <block wx:for='{{orderInfo.goods_info}}' wx:key='key'>
    <view class='goods_con'>
      <template is='goodsitem' data='{{...item, ...{index:index,name:item.goods_name,thumb_image:item.thumb,chNum:false,spec_group:item.product} }}' />
    </view>
  </block>
</view>

<view class='mg_bottom'>
  <!-- <view class='menu_item font_bold  more content_menu' bindtap='seleInvo'>
    发票
    <view class='menu_item_value'>(可选)</view>
  </view> -->
  <view class='menu_item font_bold  content_menu more' wx:if='{{orderInfo.coupon != ""}}' bindtap='seleCoupon'>
    优惠券
    <view class='menu_item_value'>{{orderInfo.coupon.coupon_name}}{{orderInfo.coupon.money}}元</view>
  </view>
  <view class='menu_item font_bold  content_menu ' wx:else>
    优惠券
    <view class='menu_item_value menu_item_value_nodata'>无可用优惠</view>
  </view>
</view>

<view class='mg_bottom'>
  <view class='menu_item font_bold content_menu'>
    商品数量
    <view class='normal_value'>{{orderInfo.sum}}件</view>
  </view>
  <view class='menu_item font_bold content_menu'>
    商品金额
    <view>￥{{orderInfo.goods_total}}</view>
  </view>
  <view class='menu_item font_bold content_menu'>
    优惠
    <view wx:if='{{orderInfo.coupon != ""}}'>￥{{orderInfo.coupon.money}}元</view>
    <view wx:else>0</view>
  </view>
  <view class='menu_item font_bold content_menu'>
    运费
    <view>￥{{orderInfo.freight}}</view>
  </view>
</view>

<view class='mg_bottom'>
  <view class='menu_item font_bold content_menu'>
    备注
    <input placeholder='请填写备注' bindinput='getremark'></input>
  </view>
</view>

<view class='submit_box'>
  <view class='total'>
    <view> ￥
      <text>{{orderInfo.amount}}</text> </view>
  </view>
  <button bindtap='pay'>立即付款</button>
</view>

<view class='goods_select {{isSelcoupon?"upPop":""}}'>
  <view class='close_btn' bindtap='closeConfirm'>
  </view>
  <view class='goods_select_content'>
    <view class='popTitle'>优惠券</view>
  </view>
  <block wx:for='{{couponList}}' wx:key='key'>
    <template is='coupon' data='{{...item}}' />
  </block>
  <view class='submit_btn' bindtap='closeConfirm'>确定</view>
</view>

<view class='goods_select {{isInvoice?"upPop":""}}'>
  <view class='close_btn' bindtap='closeConfirm'>
  </view>
  <view class='goods_select_content'>
    <view class='popTitle'>发票</view>
    <view class='invo_title'>发票抬头</view>
    <view class='invo_type'>单位</view>
    <view class='invo_type'>个人</view>
    <view class='invo_title'>发票信息</view>
    <input placeholder='在此填入公司名称' class='Invoice_input'></input>
    <input placeholder='请填写纳税人识别号' class='Invoice_input'></input>
  </view>

  <view class='submit_btn' bindtap='closeConfirm'>确定</view>
</view>

<view class='popmask ' wx:if='{{showConfirm}}'></view>